<!--signin form-->
<main>
    <span *ngIf="!session" class="message">
        {{header}}<br/><br/>{{message}}
    </span>
    <mat-card *ngIf="session" id="fade" class="card success">
        <section>
            <mat-icon style="transform:scale(2);color:white;">mood</mat-icon>
        </section>
        <span>Hello!</span>
    </mat-card>
    <mat-card *ngIf="!session" class="card">
        <mat-card-content>
            <form [formGroup]="signinFG" (ngSubmit)="onSubmit()" novalidate>
                <mat-form-field appearance="outline" hideRequiredMarker>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="emailFC" required/>
                    <mat-error *ngIf="signinFG.controls['emailFC'].hasError('email')">Please enter a valid email</mat-error>
                    <mat-error *ngIf="signinFG.controls['emailFC'].hasError('required')">You're missing something</mat-error>
                </mat-form-field>
                <br/><br *ngIf="(signinFG.controls['emailFC'].hasError('required') || signinFG.controls['emailFC'].hasError('email')) && signinFG.controls['emailFC'].touched"/>
                <mat-form-field appearance="outline" hideRequiredMarker>
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordFC" required/>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Please enter a password</mat-error>
                </mat-form-field>

                <div [hidden]="true">
                    <button mat-raised-button color="primary" [disabled]="!signinFG.valid">Submit</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <span style="color:rgb(192, 65, 65);font-weight:600;font-size:small;margin-right:5.6em;"><br/><br/>{{error}}</span>
</main>