main
{
    display:flex;
    justify-content:center;
}

header
{
    margin-right:20px;
}

section
{
    display:inline-block;
}

form
{
    margin-top:30px;
}

h1
{
    font-size:xx-large;
}

label
{
    cursor:pointer;
    margin-left:10px;
}

li
{
    color:grey;
}

span
{
    font-size:small;
    color:grey;
}

.dirInput + button
{
    box-shadow:3px 3px 3px 0px rgba(0,0,0,0.2);
    margin-right:10px;
}

.dirInput
{
    width:0.1px;
    height:0.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1;
}

.upload-loading
{
    color:grey;
    margin-left:15px;
    line-height:36px;
}

.upload-finished
{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}

.tooltip
{
    opacity:0;
}

@keyframes fd {
    0% {opacity:0;}
    50% {opacity:100;}
    70% {opacity:100;}
    100% {opacity:0;}
}

#fade{
    animation-name: fd;
    animation-duration: 2s;
}