<main>
    <!--Logo-->
    <header>
        <img src="../../assets/eggs.png" title="Freepik" width="300">
    </header>

    <!--Content-->
    <section>
        <!--Summary-->
        <div>
            <h1>Welcome to EGGS</h1>
            <p>EGGS stands for EGG Skrambler and we scramble your source code.</p>
            <p>Our service guarantees the security of your codebase with our</p>
            <p>state of the art encryption software.</p>
        </div>

        <!--Interaction-->
        <form>
            <input type="file" #DirInput id="picker" class="dirInput" (click)="checkUserCredentials()" (change)="getFolder(DirInput)" webkitDirectory multiple/>
            <input type="button" id="upload" class="dirInput" (click)="upload()"/>
            <input type="button" id="download" class="dirInput" (click)="download()"/>

            <button mat-raised-button [color]="btnColor">
                <mat-icon aria-hidden="false" aria-label="icon">folder</mat-icon>
                <label [for]="labelFor">{{labelTxt}}</label>
            </button>
            
            <span *ngIf="uploadProg > 0">{{uploadProg}} of </span>
            <span *ngIf="files.length > 0">{{files.length}}</span>
        </form>

        <!--Results-->
        <ul *ngIf="gotFiles === true">
            <li *ngFor="let file of files">
                <span>{{file.webkitRelativePath}}</span>
            </li>
        </ul>
    </section>
</main>