<main>
    <!--Logo-->
    <header>
        <img src="../../assets/eggs.png" title="Freepik" width="300">
    </header>

    <!--Content-->
    <section>
        <!--Summary-->
        <div style="width:490px;">
            <h1>Welcome to EGGS</h1>
            <p style="line-height:2.1em;">{{primaryText}}</p>
        </div>

        <!--Interaction-->
        <form>
            <!-- Puppet Buttons -->
            <input type="file" #DirInput id="picker" class="dirInput" (click)="checkUserCredentials()" (change)="getFolder(DirInput)" webkitDirectory multiple/>
            <input type="button" id="encrypt" class="dirInput" (click)="upload()"/>
            <input type="button" id="download" class="dirInput" (click)="download()"/>
            <input type="button" id="clipboard" class="dirInput" [cdkCopyToClipboard]="copy()" (click)="showTooltip()"/>
            
            <!-- Deskramble Key Entry -->
            <mat-form-field style="display:block;margin-bottom:20px;" *ngIf="goToDecrypt" appearance="standard" hideRequiredMarker>
                <mat-label>Key</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="keyFC" required/>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide key'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>A key is required to deskramble this folder</mat-error>
            </mat-form-field>
        </form>

        <!-- Puppet Master Button -->
        <button mat-raised-button [color]="btnColor" [title]="btnDescription">
            <mat-icon aria-hidden="false" aria-label="icon">{{icon}}</mat-icon>
            <label [for]="labelFor">{{labelTxt}}</label>
        </button>

        <!-- Button Messages -->
        <span *ngIf="uploadProg > 0 && !downloaded">&ensp;{{uploadProg}} of</span>
        <span *ngIf="files && files.length > 0 && !downloaded"> {{files.length}} files</span>
        <br/>
        <span *ngIf="fileEmpty" style="color:red;">An empty file was detected</span>
        <span *ngIf="filetype" style="color:red;">File type not supported</span>
        <span *ngIf="copied" id="fade" class="tooltip">Copied to clipboard</span>

        <!-- File Upload Results -->
        <ul *ngIf="receivedFiles === true">
            <li *ngFor="let file of files">
                <span>{{file.webkitRelativePath}}</span>
            </li>
        </ul>
    </section>
</main>